wav_files/raw/*.wav
wav_files/sanitized/*.wav
wav_files/raw/peaks/
wav_files/sanitized/peaks/
artifacts/*.pdf

__pycache__/
*.py[cod]
*$py.class

.venv/

build/
dist/
wheels/
*.egg-info

Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*.log

.idea/