# Artifacts
*.wav
*.pdf
!artifacts/paper_artifacts/*.pdf
wav_files/raw/peaks/
wav_files/sanitized/peaks/


__pycache__/
*.py[cod]
*$py.class

.venv/

build/
dist/
wheels/
*.egg-info

Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*.log

.idea/